<div class="container">
  <div class="heading">
    <img src="../../../../../../assets/images/building.png" />
    <p>Officeroo</p>
  </div>
  <div class="sub-heading">
    <p>Work smarter, book faster!</p>
  </div>

  <div class="action-btns">
    <div class="btn">
      <button mat-raised-button routerLink="signup" color="primary">
        Create an Account
      </button>
    </div>
    <div class="btn">
      <button mat-raised-button routerLink="signin" color="accent">
        Sign In
      </button>
    </div>
  </div>
</div>
